* {
    margin: auto;

}

h1, h2 {
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: xxx-large;
    color: black;

}

h6 {

    font-size: xx-large;
    color: black;
    margin: 30px;
    font-family: sans-serif;

}

body {
    background-image: url(./dice-yellow-background_127657-13663.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}


.center {
    left: 46%;
    margin: 0;
    position: absolute;
    top: 15%;

}

button{
    border-radius: 15px;
    font-size: xx-large;
}

#monopoly {
    float: right;
}

#gameboy {
    float: right;
}



.iframe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}

.results {
    border-radius: 18px;
    font-size: x-large;
    height: 280px;
    width: 30%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  margin-top: -287px;
    margin-bottom: 10px;
    margin-left: 400px;
    word-spacing: 10px;
    line-height: 30px;
}